<% content_for(:html_title) { 'CTD CAFE | イベント'} %>
<%= stylesheet_link_tag "events", :media => "all" %>
<link href="/assets/aos.css" rel="stylesheet">

<div id="home">
        <%= render "boards/header" %>
</div>

    <div class="introduction-contents wrapper">
        <article>
            <header class="post-info" data-aos="fade-zoom-in" data-aos-easing="ease-in-out-sine" data-aos-delay="700" data-aos-offset="0">
                <h2 class="post-title">イベント</h2>
            </header>
            <img src="/assets/home-bg3.jpg" alt="イベント" data-aos="fade-zoom-in" data-aos-easing="ease-in-out-sine" data-aos-delay="700" data-aos-offset="0">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit minima voluptate, esse quo corporis labore eos a laudantium vitae! Nesciunt, veritatis. Voluptatum corrupti nisi distinctio obcaecati eveniet. Consequuntur, autem amet.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad deleniti eum ut facilis magnam aperiam esse accusantium ratione, enim iure, voluptas totam hic nam recusandae corrupti doloremque cupiditate! Illum, commodi?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, explicabo soluta voluptate omnis nulla ratione illo, nisi quidem ipsum sed voluptates modi atque, necessitatibus officiis error dolorum? Harum, autem nostrum.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto doloribus explicabo sapiente labore fuga at in est, quidem alias voluptatum quos quis, magni doloremque expedita numquam repellendus ea ad optio!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit minima voluptate, esse quo corporis labore eos a laudantium vitae! Nesciunt, veritatis. Voluptatum corrupti nisi distinctio obcaecati eveniet. Consequuntur, autem amet.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem illo nostrum incidunt, laborum unde aliquam officiis, repellat beatae quam ad vel. Laboriosam molestias repellat sed. Eveniet rerum optio nostrum quam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nulla quibusdam distinctio harum, earum et laborum placeat reiciendis totam odit quo aliquam eum fuga sit at animi perferendis ullam doloremque!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptate unde nisi quod iusto. Quos, molestiae aut distinctio sapiente sed, deserunt modi perspiciatis quis iste quisquam maiores consequatur, voluptas quaerat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, provident perferendis velit aliquid at ut ea eveniet quod quasi facere dolorem unde porro debitis. Ullam atque accusantium eveniet beatae natus!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam asperiores soluta odit eaque atque assumenda dolorum ea totam repellat, sit reiciendis distinctio fuga quo iste dolores rem natus maxime excepturi!
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit minima voluptate, esse quo corporis labore eos a laudantium vitae! Nesciunt, veritatis. Voluptatum corrupti nisi distinctio obcaecati eveniet. Consequuntur, autem amet.</p>
        </article>

        <%= render "boards/aside" %>
        </aside>
    </div>

    <%= render "boards/footer" %>

    <script src="/assets/aos.js"></script>
    <script src="/assets/topbutton.js"></script>
</div>
