<% content_for(:html_title) { 'CTD CAFE | 予約案内'} %>
<%= stylesheet_link_tag 'reservations', :media => "all" %>
<link href="/assets/aos.css" rel="stylesheet">

<div id="home">
        <%= render "boards/header" %>
</div>

    <div class="reservation-contents wrapper">
        <div class="contentArea">
            <header class="post-info" data-aos="fade-zoom-in" data-aos-easing="ease-in-out-sine" data-aos-delay="700" data-aos-offset="0">
                <h2 class="post-title">予約案内</h2>
            </header>

            <h3 class="reserve-new line">予約に関するご注意（はじめにお読みください）</h3>
            <p class="reserve-intro">
                <a href="#">予約はこちら</a>
            </p>

            <div class="qalinks">
                <a href="#qa1" class="qaBlock">予約に関して</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a href="#qa2" class="qaBlock">確認メールに関して</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a href="#qa3" class="qaBlock">お席の確保に関して</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a href="#qa4" class="qaBlock">キャンセルに関して</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a href="#qa5" class="qaBlock">払い戻し・内容変更に関して</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a href="#qa6" class="qaBlock">テラス席に関して</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a href="#qa7" class="qaBlock">こんな場合は…</a>
            </div>

            <div class="qabox" id="qa1">
                <div class="faq-title">予約に関して</div>
                    <div class="qalist">
                        <div class="question">質問文が入ります</div>
                        <div class="answer">
                            回答文が入ります。回答文が入ります。回答文が入ります。<br>
                            回答文が入ります。回答文が入ります。回答文が入ります。回答文が入ります。<br>
                        </div>
                        <div class="question">質問文が入ります</div>
                        <div class="answer">
                            回答文が入ります。回答文が入ります。回答文が入ります。<br>
                            回答文が入ります。回答文が入ります。回答文が入ります。回答文が入ります。<br>
                        </div>
                        <div class="question">質問文が入ります</div>
                        <div class="answer">
                            回答文が入ります。回答文が入ります。回答文が入ります。<br>
                            回答文が入ります。回答文が入ります。回答文が入ります。回答文が入ります。<br>
                        </div>
                    </div>
            </div>

            <div class="qabox" id="qa2">
                <div class="faq-title">確認メールに関して</div>
                    <div class="qalist">
                        <div class="question">質問文が入ります</div>
                        <div class="answer">
                            回答文が入ります。回答文が入ります。回答文が入ります。<br>
                            回答文が入ります。回答文が入ります。回答文が入ります。回答文が入ります。<br>
                        </div>
                        <div class="question">質問文が入ります</div>
                        <div class="answer">
                            回答文が入ります。回答文が入ります。回答文が入ります。<br>
                            回答文が入ります。回答文が入ります。回答文が入ります。回答文が入ります。<br>
                        </div>
                        <div class="question">質問文が入ります</div>
                        <div class="answer">
                            回答文が入ります。回答文が入ります。回答文が入ります。<br>
                            回答文が入ります。回答文が入ります。回答文が入ります。回答文が入ります。<br>
                        </div>
                    </div>
            </div>

            <div class="qabox" id="qa3">
                <div class="faq-title">お席の確保に関して</div>
                    <div class="qalist">
                        <div class="question">質問文が入ります</div>
                        <div class="answer">
                            回答文が入ります。回答文が入ります。回答文が入ります。<br>
                            回答文が入ります。回答文が入ります。回答文が入ります。回答文が入ります。<br>
                        </div>
                        <div class="question">質問文が入ります</div>
                        <div class="answer">
                            回答文が入ります。回答文が入ります。回答文が入ります。<br>
                            回答文が入ります。回答文が入ります。回答文が入ります。回答文が入ります。<br>
                        </div>
                        <div class="question">質問文が入ります</div>
                        <div class="answer">
                            回答文が入ります。回答文が入ります。回答文が入ります。<br>
                            回答文が入ります。回答文が入ります。回答文が入ります。回答文が入ります。<br>
                        </div>
                    </div>
            </div>

            <div class="qabox" id="qa4">
                <div class="faq-title">キャンセルに関して</div>
                    <div class="qalist">
                        <div class="question">質問文が入ります</div>
                        <div class="answer">
                            回答文が入ります。回答文が入ります。回答文が入ります。<br>
                            回答文が入ります。回答文が入ります。回答文が入ります。回答文が入ります。<br>
                        </div>
                        <div class="question">質問文が入ります</div>
                        <div class="answer">
                            回答文が入ります。回答文が入ります。回答文が入ります。<br>
                            回答文が入ります。回答文が入ります。回答文が入ります。回答文が入ります。<br>
                        </div>
                        <div class="question">質問文が入ります</div>
                        <div class="answer">
                            回答文が入ります。回答文が入ります。回答文が入ります。<br>
                            回答文が入ります。回答文が入ります。回答文が入ります。回答文が入ります。<br>
                        </div>
                    </div>
            </div>

            <div class="qabox" id="qa5">
                <div class="faq-title">払い戻し・内容変更に関して</div>
                    <div class="qalist">
                        <div class="question">質問文が入ります</div>
                        <div class="answer">
                            回答文が入ります。回答文が入ります。回答文が入ります。<br>
                            回答文が入ります。回答文が入ります。回答文が入ります。回答文が入ります。<br>
                        </div>
                        <div class="question">質問文が入ります</div>
                        <div class="answer">
                            回答文が入ります。回答文が入ります。回答文が入ります。<br>
                            回答文が入ります。回答文が入ります。回答文が入ります。回答文が入ります。<br>
                        </div>
                        <div class="question">質問文が入ります</div>
                        <div class="answer">
                            回答文が入ります。回答文が入ります。回答文が入ります。<br>
                            回答文が入ります。回答文が入ります。回答文が入ります。回答文が入ります。<br>
                        </div>
                    </div>
            </div>

            <div class="qabox" id="qa6">
                <div class="faq-title">テラス席に関して</div>
                    <div class="qalist">
                        <div class="question">質問文が入ります</div>
                        <div class="answer">
                            回答文が入ります。回答文が入ります。回答文が入ります。<br>
                            回答文が入ります。回答文が入ります。回答文が入ります。回答文が入ります。<br>
                        </div>
                        <div class="question">質問文が入ります</div>
                        <div class="answer">
                            回答文が入ります。回答文が入ります。回答文が入ります。<br>
                            回答文が入ります。回答文が入ります。回答文が入ります。回答文が入ります。<br>
                        </div>
                        <div class="question">質問文が入ります</div>
                        <div class="answer">
                            回答文が入ります。回答文が入ります。回答文が入ります。<br>
                            回答文が入ります。回答文が入ります。回答文が入ります。回答文が入ります。<br>
                        </div>
                    </div>
            </div>

            <div class="qabox" id="qa7">
                <div class="faq-title">こんな場合は…</div>
                    <div class="qalist">
                        <div class="question">質問文が入ります</div>
                        <div class="answer">
                            回答文が入ります。回答文が入ります。回答文が入ります。<br>
                            回答文が入ります。回答文が入ります。回答文が入ります。回答文が入ります。<br>
                        </div>
                        <div class="question">質問文が入ります</div>
                        <div class="answer">
                            回答文が入ります。回答文が入ります。回答文が入ります。<br>
                            回答文が入ります。回答文が入ります。回答文が入ります。回答文が入ります。<br>
                        </div>
                        <div class="question">質問文が入ります</div>
                        <div class="answer">
                            回答文が入ります。回答文が入ります。回答文が入ります。<br>
                            回答文が入ります。回答文が入ります。回答文が入ります。回答文が入ります。<br>
                        </div>
                    </div>
            </div>
            
            <p class="reserveBtn">
                <a href="#">予約はこちら</a>
            </p>
        </div>

        <%= render "boards/aside" %>
    </div>

    <%= render "boards/footer" %>

    <script src="/assets/aos.js"></script>
    <script src="/assets/topbutton.js"></script>
    <script src="/assets/smooth.js"></script>