<div id="pagetop" class="pagetop">
    <a href="#" class="pagetopB">TOP</a>
</div>

<footer>
    <ul class="footer-nav">
        <li class="commitment"><a href="/boards/show" class="nav-button">こだわり</a></li>
        <li class="menu"><a href="/articles" class="nav-button">期間限定/新メニュー</a></li>
        <li class="event"><a href="/events" class="nav-button">イベント</a></li>
        <li class="voice"><a href="/voices" class="nav-button">よくあるご質問</a></li>
        <li class="recruit"><a href="/recruits" class="nav-button">採用情報</a></li>
    </ul>
    <div class="wrapper">
        <p><small>&copy; 2020 CTD CAFE</small></p>
    </div>
</footer>